
@{
    ViewData["Title"] = "Index";
}

<div class="listContainer">
    <div class="listHeader">
        <img src="~/img/barra-sopra.png" />
        <div>LOBBY</div>
    </div>
    <div class="listBody">
        <div id="1" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="2" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="3" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="4" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="5" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="6" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="7" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="8" class="listElement" onclick="seleziona(this)">Stanza 123</div>
        <div id="9" class="listElement" onclick="seleziona(this)">Stanza 123</div>
    </div>
    <div class="listFooter">
        <img src="~/img/barra-sotto.png" />
    </div>
</div>

<div class="buttonContainer">
    <div class="button">
        <img class="imgBtn" src="~/img/bottone-verde.png" />
        <div class="testoBtn">CREA</div>
    </div>
    <div class="button" onclick="redirect()">
        <img class="imgBtn" src="~/img/bottone-giallo.png" />
        <div class="testoBtn">UNISCITI</div>
    </div>
</div>


<div class="splash"></div>