
@{
    ViewData["Title"] = "Lobby";
}

<div class="listContainer">
    <div class="listHeader">
        <img src="~/img/barra-sopra.png" />
        <div>LOBBY 3</div>
    </div>
    <div class="listBody listPG">
        <div class="personaggiLabel">Personaggi</div>
        <div class="pg tank red">
            <div class="pallocco"></div>
        </div>
        <div class="pg support red">
            <div class="pallocco"></div>
        </div>
        <div class="pg damage red">
            <div class="pallocco"></div>
        </div>
        <div class="pg support red">
            <div class="pallocco"></div>
        </div>
        <div class="pg tank red">
            <div class="pallocco"></div>
        </div>
        <div class="pg support blue">
            <div class="pallocco"></div>
        </div>
        <div class="pg tank blue">
            <div class="pallocco"></div>
        </div>
        <div class="pg tank blue">
            <div class="pallocco"></div>
        </div>

    </div>
    <div class="listFooter">
        <img src="~/img/barra-sotto.png" />
    </div>
</div>

<div class="buttonContainer">
    <div class="button">
        <img class="imgBtn" src="~/img/bottone-verde.png" />
        <div class="testoBtn">CREA PG</div>
    </div>
    <div class="button">
        <img class="imgBtn" src="~/img/bottone-giallo.png" />
        <div class="testoBtn">Dettagli PG</div>
    </div>
</div>
